@{
    ViewBag.Title = "Visa Checkout - Error";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<h1>Error Result Data:</h1>
<code>@ViewBag.Result</code>