@{
    ViewBag.Title = "Visa Checkout Example";
}
@using VisaCheckout;

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
@{
    VisaCheckout.VisaHelper.Options.OnOptions onOptions = new VisaCheckout.VisaHelper.Options.OnOptions
    {
        PaymentSuccess = "alert(JSON.stringify(payment));",
        PaymentCancel = "alert(JSON.stringify(payment));",
        PaymentError = "alert(JSON.stringify(payment));"
    };
    
    VisaCheckout.VisaHelper.Options.VisaOptions minOptions = new VisaCheckout.VisaHelper.Options.VisaOptions("17SOX33VCFW1A9FVJI4J13tvR2oX1EzHzYP5exFIuA1Ej1XyQ", 2.5M, VisaCheckout.VisaHelper.Options.CurrencyCodes.USD, onOptions);
    minOptions.IsSandbox = true;
    minOptions.ButtonOptions.IsSandbox = true;

    VisaCheckout.VisaHelper.Options.VisaOptions fullOptions = new VisaCheckout.VisaHelper.Options.VisaOptions("17SOX33VCFW1A9FVJI4J13tvR2oX1EzHzYP5exFIuA1Ej1XyQ", 2.5M, VisaCheckout.VisaHelper.Options.CurrencyCodes.USD, onOptions)
    {
        InitOptions = new VisaCheckout.VisaHelper.Options.InitOptions
        {
            ApiKey = "17SOX33VCFW1A9FVJI4J13tvR2oX1EzHzYP5exFIuA1Ej1XyQ",
            PaymentRequest = new VisaCheckout.VisaHelper.Options.PaymentRequestOptions
            {
                Subtotal = 2.50M,
                CurrencyCode = VisaCheckout.VisaHelper.Options.CurrencyCodes.USD,
                Description = "some description",
                Discount = 1M,
                GiftWrap = 2.5M,
                MerchantRequestID = "some id",
                Misc = 0.50M,
                OrderID = "123abc",
                PromoCodes = "abc",
                ShippingHandling = 3.5M,
                Tax = 1.27M,
                Total = 10.73M
            },
            Settings = new VisaCheckout.VisaHelper.Options.InitSettings
            {
                Payment = new VisaCheckout.VisaHelper.Options.PaymentOptions
                {
                    CardBrands = VisaCheckout.VisaHelper.Options.SupportedCards.VISA | VisaCheckout.VisaHelper.Options.SupportedCards.MASTERCARD | VisaCheckout.VisaHelper.Options.SupportedCards.DISCOVER | VisaCheckout.VisaHelper.Options.SupportedCards.AMEX,
                    AcceptCanadianVisaDebit = true,
                    BillingCountries = VisaCheckout.VisaHelper.Options.BillingCountries.US
                },
                DisplayName = "hey",
                CustomerSupportUrl = new Uri("http://www.test.com"),
                CountryCode = "US",
                DataLevel = VisaCheckout.VisaHelper.Options.DataLevel.FULL,
                Locale = "en_US",
                LogoUrl = new Uri("http://www.test.com"),
                Review = new VisaCheckout.VisaHelper.Options.ReviewOptions
                {
                    ButtonAction = VisaCheckout.VisaHelper.Options.ButtonActions.Pay,
                    Message = "hi"
                },
                Shipping = new VisaCheckout.VisaHelper.Options.ShippingOptions
                {
                    AcceptedRegions = "US",
                    CollectShipping = true
                },
                ThreeDSSetup = new VisaCheckout.VisaHelper.Options.ThreeDSSetupOptions
                {
                    ThreeDSActive = true
                },
                WebsiteUrl = new Uri("http://www.test.com")
            },
            ReferenceCallID = "some reference",
            SourceID = "some source"
        },
        ButtonOptions = new VisaCheckout.VisaHelper.Options.ButtonOptions
        {
            AcceptCanadianVisaDebit = true,
            CardBrands = VisaCheckout.VisaHelper.Options.SupportedCards.VISA | VisaCheckout.VisaHelper.Options.SupportedCards.MASTERCARD | VisaCheckout.VisaHelper.Options.SupportedCards.DISCOVER | VisaCheckout.VisaHelper.Options.SupportedCards.AMEX,
            Color = VisaCheckout.VisaHelper.Options.ButtonColors.Neutral,
            Locale = "en_US",
            Size = VisaCheckout.VisaHelper.Options.ButtonSizes.Medium,
            TabIndex = 1,
            IsSandbox = true
        },
        IsSandbox = true,
        TellMeMoreLinkOptions = new VisaCheckout.VisaHelper.Options.TellMeMoreLinkOptions
        {
            DataLocale = "en_US"
        }
    };

    fullOptions.InitOptions.PaymentRequest.CustomData.Add("test", "testValue");
    fullOptions.InitOptions.PaymentRequest.CustomData.Add("test1", "test1Value");
}
@Html.WriteVisaCheckoutLink(fullOptions)
