@model VisaCheckout.Example.Models.SuccessModel
@using VisaCheckout;
@{
    ViewBag.Title = "Visa Checkout - Success";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            @Html.ActionLink("Get Payment Data", "GetPaymentData", new { callId = ViewBag.CallId })
        </div>
    </section>
}
<h1>Success Result Data:</h1>
<code>@Model.EncryptedData</code>
<h1>Unencypted Data:</h1>
<code>@Model.UnencryptedData</code>