@model VisaCheckout.Example.Models.SuccessModel
@using VisaCheckout;
@{
    ViewBag.Title = "Visa Checkout - Success";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
@{
    dynamic unencrypted = Newtonsoft.Json.JsonConvert.DeserializeObject(Model.UnencryptedData);
    dynamic encrypted = Newtonsoft.Json.JsonConvert.DeserializeObject(Model.EncryptedData);
    string callId = encrypted.callid.Value;
    string apiKey = encrypted.vInitRequest.apikey.Value;

    VisaCheckout.VisaHelper.Options.VisaUpdateImageOptions options = new VisaCheckout.VisaHelper.Options.VisaUpdateImageOptions("TA0@pG+k9S1OK0{5+1ENOTZ3Mj4ydjWf3FF/oC$c", callId, VisaCheckout.VisaHelper.Options.EventTypes.Confirm, apiKey, 2.5M, 2.5M, VisaCheckout.VisaHelper.Options.CurrencyCodes.USD);
}
@Html.WriteVisaUpdateImage(options)
<h1>Success Result Data:</h1>
<code>@Model.EncryptedData</code>
<h1>Unencypted Data:</h1>
<code>@Model.UnencryptedData</code>